* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "KlavikaMedium";
  src: url(KlavikaMedium-TF.otf);
}

@font-face {
  font-family: "SfProDisplay";
  src: url(SFPRODISPLAYREGULAR.OTF);
}

body {
  background-color: #f4f4f5;
  height: 100vh;
  transform: scale(0.75);
}

.facebook-logo {
  font-size: 9.6rem;
  color: #1c7ed6;
  font-family: "KlavikaMedium", sans-serif;
  letter-spacing: 1.5px;
}

.tagline {
  font-size: 4rem;
  font-family: "SfProDisplay", sans-serif;
  letter-spacing: 1.5px;
  margin-top: 1.5rem;
}

.container {
  display: grid;
  width: 150rem;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Logo-headline {
  grid-column: 1/2;
}

.details {
  grid-column: 2/-1;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2.4rem 1.8rem;
  padding-bottom: 3.6rem;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  width: 60rem;
  border-radius: 10px;
  margin-bottom: 3.6rem;
  margin-left: auto;
}

input::placeholder {
  font-size: 1em;
}

#email {
  border: none;
  border: 1px solid #ced4da;
  padding: 2.2rem;
  font-size: 2.4rem;
  color: black;
  font-family: sans-serif;
  border-radius: 10px;
}

#password {
  margin-top: 1.5rem;
  border: none;
  border: 1px solid #ced4da;
  padding: 2.2rem;
  font-size: 2.4rem;
  color: black;
  font-family: sans-serif;
  border-radius: 10px;
}

.log-in {
  margin-top: 1.8rem;
  background-color: #1c7ed6;
  border: none;
  padding: 2.2rem;
  font-size: 2.4rem;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.forget-password {
  margin-top: 1.8rem;
  font-family: "SfProDisplay", sans-serif;
  text-align: center;
  font-size: 2.2rem;
  text-decoration: none;
  color: #1c7ed6;
  margin-bottom: 3.6rem;
}

.forget-password:hover {
  text-decoration: underline;
}

.border {
  width: 56.25rem;
  border: 1px solid #ced4da;
}

.create-account {
  margin-top: 3.6rem;
  background-color: #42b72a;
  color: white;
  font-weight: bold;
  width: 30rem;
  border: none;
  padding: 2.2rem;
  font-size: 2.4rem;
  border-radius: 10px;
  transform: translate(43%, 0);
  cursor:pointer;
}

.extra {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/-1;
  gap: 1rem;
  transform: translate(10%, 0);
}

.create-page {
  font-size: 2.2rem;
  cursor: pointer;
  font-family: "SfProDisplay", sans-serif;
  font-weight: bold;
}

.create-page:hover {
  text-decoration: underline;
}
.text-page {
  font-size: 2.2rem;
  font-family: "SfProDisplay", sans-serif;
}
